/* 전역 css 변수 선언 */
:root {
  /*폰트 설정 */
  font-family: system-ui, sans-serif;
  font-size: 18px;
  line-height: 1.45;
  color: #171717;
  
  /* 폰트 렌더링 최적화 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

html {
  /* 스크롤바 공간을 항상 미리 확보하여 화면 덜컹거림 방지 */
  scrollbar-gutter: stable;
}

/* 기본 배경 및 중앙 정렬 */
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
}

/* p태그 여백 초기화 */
p {
  margin: 0;
}
